/* common shared style*/
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: greenyellow;
}
.btn-primary{
    border-radius: 5px;
    background: greenyellow;
    border: 0;
    font-style: normal;
    font-weight: 700;
    color: rgb(63, 9, 239);
    font-size: 20px;
    padding: 10px 25px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 180px;
}
.web-title{
    color: blue;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: brown;
}
/*header related style*/

.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 400px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 75px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    margin-top: 5px;
    margin-bottom: 5px;
}
/*main section styles*/
main{
    max-width: 1140px;
    margin: 0 auto;
}

/*about section styles*/
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    
}
.about-info{
    text-align: center;
}
/*Skill related style*/
#what-i-do-description{
    padding: 100px;
}
.skill-container{
    display: flex;

}
